doctype('html')
html(lang="en")
    head()
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="description" content="")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title() Tic Tac Toe
        link(href="/css/app.css" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|PT+Sans|Roboto+Condensed" rel="stylesheet")
    body
        div(id="pageblur")
            div(id="gamestat") 
        h1 Tic Tac Toe Game
        div(id="alert" ) 
        section(class="container" id="game")

            ul(class="row" id="canvas") 
                each val in [0, 1, 2, 3, 4, 5, 6, 7, 8]
                    li(id=val class="box")
            	
        script(src="js/app.js")